#top
  %div{:id => "performance_#{@performance.id}"}
    = render :partial => 'performance_step1_form', :locals => {:button_action => 'create', |
      :method => 'post' }                                                                  |
